<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a class="govuk-back-link" href="/claim/student-loan">Back</a>
    <span class="govuk-caption-xl">{{ service_name }}</span>
    <h1 class="govuk-heading-xl">
        {{ check_title }} <span class="govuk-body-m"><a href="/claim-full">View full claim</a></span>
    </h1>
  </div>
  <div class="govuk-grid-column-one-half">
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <acronym title="Teacher Reference Number">TRN</acronym>
        </dt>

        <dd class="govuk-summary-list__value">
          {{ trn }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Full name
        </dt>

        <dd class="govuk-summary-list__value">
          {{ name }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>

        <dd class="govuk-summary-list__value">
          {{ dob }}
        </dd>
      </div>
    </dl>
  </div>
  <div class="govuk-grid-column-one-half">
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          SLA
        </dt>

        <dd class="govuk-summary-list__value">
          <abbr title="Submitted 23 October 2019 3:21pm">15 February 2020</abbr> <strong class="govuk-tag tag--alert">15 days</strong>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Reference
        </dt>

        <dd class="govuk-summary-list__value">
          {{ reference }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>

        <dd class="govuk-summary-list__value">
          {{ email }}
        </dd>
      </div>
    </dl>
  </div>
  <div class="govuk-grid-column-full  govuk-!-margin-bottom-4">
    <dl class="govuk-summary-list ">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            <label for="supportTicket">
              Support ticket
            </label>
        </dt>

        <dd class="govuk-summary-list__value">
            <input class="govuk-input" id="supportTicket" name="supportTicket" type="text" value="{{ supportTicket }}">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <label for="supportNotes">
            Support notes
          </label>
        </dt>

        <dd class="govuk-summary-list__value">
            <textarea class="govuk-textarea" id="supportNotes-detail" name="supportNotes" rows="3" aria-describedby="supportNotes">{{ supportNotes }}</textarea>
        </dd>
      </div>
    </dl>
    {{ govukButton({
  text: "Save support information",
  classes: "govuk-button--secondary"
}) }}
  </div>
</div>
