{% extends "layout.html" %}

{% block pageTitle %}
  Viewing decision for claim ABN7HA for student loans
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    serviceName: serviceName,
    serviceUrl: "/",
    navigation: [
      {
        href: "/claims",
        text: "View claims",
        attributes: {
          "data-install": "View claims"
        }
      },
      {
        href: "/admin/claims/search",
        text: "Search",
        attributes: {
          "data-tutorials": "Search"
        }
      },
      {
        href: "/admin/payroll_runs",
        text: "Payroll",
        attributes: {
          "data-about": "Payroll"
        }
      },
      {
        href: "/admin/policy_configurations",
        text: "Open/close a service",
        attributes: {
          "data-about": "Payroll"
        }
      },
      {
        href: "/admin/auth/sign-out",
        text: "Sign out",
        attributes: {
          "data-about": "Sign out"
        }
      }
    ]
  }) }}
{% endblock %}

{% block content %}

{% set service_name = "Teachers: claim back your student loan repayments" %}
{% set reference = "ABN7HA" %}
{% set check_title = "Claim decision" %}
{% set trn = "2783017" %}
{% set name = "Fred Smith" %}
{% set dob = "21 August 1979" %}
{% set email = "freddysmith@gmail.com" %}
{% set claimNotes = "Spoke with claimant on 13/01, started working in the school sept 18

Salary between sept 18 and Apr 19 - £XX, XXX. He can't remember how he calculated repayments but thinks he probably added together payslips

{SO NAME} - HL data only available from July/18, May need another Loan to high call to find out if remaining FY18/19 income (April18-June/18) is teaching

related or not (i.e supply teacher)

3 March 2020 - loan too high email sent, reply due 10 March

4 March - reply received with repayments totalling £331. Have asked claimant to confirm his claim amount. Awaiting reply.

6 March - reply received from claimant confirming £331 is correct amount. Claimant will need to re-apply.

10 March  agreed that a developer could ammend the claim. Ammended and approved. KB" %}

{% include "includes/claim-header-block.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



    </div>
  </div>

{% set checksHtml %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Current school
        </dt>
        <dd class="govuk-summary-list__value">
          Penistone Grammar School
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Contact number
        </dt>
        <dd class="govuk-summary-list__value">
          01226762114
        </dd>
      </div>
    </dl>
    <form class="new_check" id="claim_check_form" action="/claims" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="GitCei0zjGIa3F0VUatPhywrNAvAvIw75CgIevd9XH98k8acSkdQ5Y20YO5P0sbtH7aM/Q/HmIFSqEHyzrMmTQ==">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset govuk-!-margin-bottom-6">
          <div class="govuk-error-summary govuk-error-subtle" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
              Some checks have not yet been completed
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li>
                  <a href="#passport-issued-error">Check qualification information</a>
                </li>
                <li>
                  <a href="#postcode-error">Check employment information</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="govuk-radios govuk-radios--inline">
            <input type="hidden" name="check[result]" id="check_result">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" type="radio" value="approved" name="check[result]" id="check_result_approved">
              <label class="govuk-label govuk-radios__label" for="check_result_approved">Approve</label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" type="radio" value="rejected" name="check[result]" id="check_result_rejected">
              <label class="govuk-label govuk-radios__label" for="check_result_rejected">Reject</label>
            </div>
          </div>
        </fieldset>
        <input type="submit" name="commit" value="Confirm decision" class="govuk-button" data-disable-with="Confirm decicion">
      </div>
    </form>
  </div>
</div>
{% endset -%}

{% set claimNotesHtml %}
<div class="govuk-grid-row">
 <div class="govuk-grid-column-two-thirds">
      <h2 class="app-task-list__section">
        Support Ticket
      </h2>

      <input class="govuk-input" id="ticketURL" name="ticketURL" type="text" value="{{ data["ticketURL"] }}">

      <h2 class="app-task-list__section">
        Claim Notes
      </h2>
      <span class="govuk-hint">
        Enter a breif decsription of the problem/steps take to resolve the problem
        in the format Initals - Date - Message
      </span>
      <textarea class="govuk-textarea" id="claimNotes" name="claimNotes" rows="12" >{{ claimNotes }}</textarea>

      {{ govukButton({
        text: "Save Support Information",
        classes: "govuk-button--secondary"
      }) }}
    </div>
  </div>
{% endset -%}

{% set pastWeekHtml %}
<h2 class="govuk-heading-l">CLAIM TIMELINE</h2>
TIMELINE GOES HERE
{% endset -%}

{{ govukTabs({
  items: [
    {
      label: "Checks",
      id: "checks",
      panel: {
        html: checksHtml
      }
    },
    {
      label: "Notes",
      id: "notes",
      panel: {
        html: claimNotesHtml
      }
    },
    {
      label: "Claim History",
      id: "claimHistory",
      panel: {
        html: pastWeekHtml
      }
    }
  ]
}) }}


</div>

{% endblock %}
