{% extends "layout.html" %}

{% block pageTitle %}
  Viewing employment for claim ABN7HA for student loans
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    serviceName: serviceName,
    serviceUrl: "/",
    navigation: [
      {
        href: "/claims",
        text: "View claims",
        attributes: {
          "data-install": "View claims"
        }
      },
      {
        href: "/admin/claims/search",
        text: "Search",
        attributes: {
          "data-tutorials": "Search"
        }
      },
      {
        href: "/admin/payroll_runs",
        text: "Payroll",
        attributes: {
          "data-about": "Payroll"
        }
      },
      {
        href: "/admin/policy_configurations",
        text: "Open/close a service",
        attributes: {
          "data-about": "Payroll"
        }
      },
      {
        href: "/admin/auth/sign-out",
        text: "Sign out",
        attributes: {
          "data-about": "Sign out"
        }
      }
    ]
  }) }}
{% endblock %}

{% block content %}

{% set service_name = "Student Loans (2019/2020)" %}
{% set reference = "ABN7HA" %}
{% set check_title = "Employment" %}
{% set trn = "2783017" %}
{% set name = "Fred Smith" %}
{% set dob = "21 August 1979" %}
{% set email = "freddysmith@gmail.com" %}
{% set ticketURL = "https://additional-teaching-payment.zendesk.com/agent/tickets/1234" %}
{% set claimNotes = "Spoke with claimant on 13/01, started working in the school sept 18

Salary between sept 18 and Apr 19 - £XX, XXX. He can't remember how he calculated repayments but thinks he probably added together payslips

{SO NAME} - HL data only available from July/18, May need another Loan to high call to find out if remaining FY18/19 income (April18-June/18) is teaching

related or not (i.e supply teacher)

3 March 2020 - loan too high email sent, reply due 10 March

4 March - reply received with repayments totalling £331. Have asked claimant to confirm his claim amount. Awaiting reply.

6 March - reply received from claimant confirming £331 is correct amount. Claimant will need to re-apply.

10 March  agreed that a developer could ammend the claim. Ammended and approved. KB" %}

{% include "includes/claim-header-block.html" %}


{% set tasksHtml %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              6 April 2018 to 5 April 2019
            </dt>

            <dd class="govuk-summary-list__value">
              <a class="govuk-link" href="https://get-information-schools.service.gov.uk/Establishments/Establishment/Details/106653">Penistone Grammar School</a> <span class="govuk-body-s">(370/4027)</span>
            </dd>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Current school
            </dt>

            <dd class="govuk-summary-list__value">
              <a class="govuk-link" href="https://get-information-schools.service.gov.uk/Establishments/Establishment/Details/106653">Penistone Grammar School</a> <span class="govuk-body-s">(370/4027)</span>
            </dd>
          </div>
      </dl>
      <form class="new_check" id="claim_check_form" action="employment" accept-charset="UTF-8" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset govuk-!-margin-bottom-6">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-6">
              <h3 class="govuk-heading-l govuk-!-margin-0">
                Does the claimant’s previous and current schools match the above information from their claim?
              </h3>
            </legend>
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="employmentCheck1" name="employmentCheck" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="employmentCheck1">
                  Yes, the task has passed
                </label>
              </div>

              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="employmentCheck2" name="employmentCheck" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="employmentCheck2">
                  No, the task has failed
                </label>
              </div>
              <div class="govuk-radios__divider">or</div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="employmentCheck3" name="employmentCheck" type="radio" value="text" data-aria-controls="conditional-loanAmount3">
                <label class="govuk-label govuk-radios__label" for="employmentCheck3">
                  More information is required via the support process
                </label>
              </div>
            </div>
          </fieldset>
          <input type="submit" name="commit" value="Save and continue" class="govuk-button" data-disable-with="Save and continue">
      </div>
    </form>
    </div>
  </div>
{% endset -%}

{% set claimNotesHtml %}
<div class="govuk-grid-row">
 <div class="govuk-grid-column-two-thirds">
      <h2 class="app-task-list__section">
        Support Ticket
        <span class="govuk-body-m">
          <a class="govuk-link" href="change-ticket-URL">Change ticket URL</a>
        </span>
      </h2>
      <a href="{{ data["ticketURL"] }}" class="govuk-link">{{ ticketURL}}</a>

      <h2 class="app-task-list__section">
        Claim Notes
      </h2>
      <span class="govuk-hint">
        Enter a breif decsription of the problem/steps take to resolve the problem
        in the format Initals - Date - Message
      </span>
      <textarea class="govuk-textarea" id="claimNotes" name="claimNotes" rows="12" >{{ claimNotes }}</textarea>

      {{ govukButton({
        text: "Save Support Information",
        classes: "govuk-button--secondary"
      }) }}
    </div>
  </div>
{% endset -%}

{% set claimAmendmentsHtml %}
<div class="govuk-grid-row">
 <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Claim Amendments</h2>
    <div class="hmcts-timeline">
        <div class="hmcts-timeline__item">
          <section>
              <h3 class="hmcts-timeline__title">Student loan repayment plan</h3>
                <p class="hmcts-timeline__by">changed from Plan 2 to Plan 1</p>
              <br>

              <h3 class="hmcts-timeline__title">Change notes</h3>
              <p class="hmcts-timeline__by">Changing plan type to show the time line</p>
          </section>

          <p class="hmcts-timeline__description"> by Rich Cooley on 24 March 2020 11:47am</p>
        </div>
        <div class="hmcts-timeline__item">
          <section>
              <h3 class="hmcts-timeline__title">Student loan repayment plan</h3>
                <p class="hmcts-timeline__by">changed from not applicable to Plan 2</p>
              <br>

              <h3 class="hmcts-timeline__title">Change notes</h3>
              <p class="hmcts-timeline__by">Got it from TPS</p>
          </section>

          <p class="hmcts-timeline__description"> by Tekin Suleyman on 11 March 2020 1:05pm</p>
        </div>
    </div>
  </div>
</div>
{% endset -%}

{{ govukTabs({
  items: [
    {
      label: "Tasks",
      id: "tasks",
      panel: {
        html: tasksHtml
      }
    },
    {
      label: "Notes and support",
      id: "notesAndStupport",
      panel: {
        html: claimNotesHtml
      }
    },
    {
      label: "Claim amendments",
      id: "claimAmendments",
      panel: {
        html: claimAmendmentsHtml
      }
    }
  ]
}) }}

</div>

{% endblock %}
