{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% extends "layout.html" %}

{% block pageTitle %}
    Viewing claim ABN7HA for student loans
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    serviceName: serviceName,
    serviceUrl: "/",
    navigation: [
      {
        href: "/claims",
        text: "View claims",
        attributes: {
          "data-install": "View claims"
        }
      },
      {
        href: "/admin/claims/search",
        text: "Search",
        attributes: {
          "data-tutorials": "Search"
        }
      },
      {
        href: "/admin/payroll_runs",
        text: "Payroll",
        attributes: {
          "data-about": "Payroll"
        }
      },
      {
        href: "/admin/policy_configurations",
        text: "Open/close a service",
        attributes: {
          "data-about": "Payroll"
        }
      },
      {
        href: "/admin/auth/sign-out",
        text: "Sign out",
        attributes: {
          "data-about": "Sign out"
        }
      }
    ]
  }) }}
{% endblock %}

{% block content %}

{% set service_name = "Teachers: claim back your student loan repayments" %}
{% set reference = "ABN7HA" %}
{% set trn = "2783017" %}
{% set name = "Fred Smith" %}
{% set check_title = name + " // " + reference %}
{% set dob = "21 August 1979" %}
{% set email = "freddysmith@gmail.com" %}
{% set ticketURL = "https://additional-teaching-payment.zendesk.com/agent/tickets/1234" %}
{% set claimNotes = "Spoke with claimant on 13/01, started working in the school sept 18

Salary between sept 18 and Apr 19 - £XX, XXX. He can't remember how he calculated repayments but thinks he probably added together payslips

{SO NAME} - HL data only available from July/18, May need another Loan to high call to find out if remaining FY18/19 income (April18-June/18) is teaching

related or not (i.e supply teacher)

3 March 2020 - loan too high email sent, reply due 10 March

4 March - reply received with repayments totalling £331. Have asked claimant to confirm his claim amount. Awaiting reply.

6 March - reply received from claimant confirming £331 is correct amount. Claimant will need to re-apply.

10 March  agreed that a developer could ammend the claim. Ammended and approved. KB" %}
{% include "includes/claim-header-block.html" %}

  <div class="govuk-grid-row">


{% set checksHtml %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Qualifications
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/claim/student-loan/qualifications.html" aria-describedby="eligibility-completed">
                  Check qualification information
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Passed</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Employment
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/claim/student-loan/employment.html" aria-describedby="company-information-completed">
                  Check employment information
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed ">Passed</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Student loan amount
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/claim/student-loan/student-loan.html" aria-describedby="company-information-completed">
                  Check student loan amount
                </a>
              </span>
              {% if data['ticketURL'] %}
              <strong class="govuk-tag app-task-list__task-completed govuk-tag--inactive" id="company-information-completed ">Support</strong>
              {% endif %}
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Current school and subject
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/claim/student-loan/current-school-subject">
                  Confirm response from school
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed " id="company-information-completed">Failed</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">5. </span> Claims with matching details
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/claim/student-loan/matching-details.html">
                  Review matching details from other claims
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed govuk-tag--inactive" id="company-information-completed">Incomplete</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">6. </span> Identity confirmation
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/claim/student-loan/identity-confirmation.html">
                  Confirm the claimant made the claim
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed govuk-tag--inactive" id="company-information-completed">Incomplete</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">7. </span> Gender
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/claim/student-loan/gender.html">
                  Add the claimants gender
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed govuk-tag--inactive" id="company-information-completed">Incomplete</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">8. </span> Decision
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/claim/student-loan/decision.html">
                  Approve or reject this claim
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Approved</strong>
            </li>
          </ul>
        </li>
      </ol>

    </div>

  </div>
{% endset -%}

{% set claimNotesHtml %}
<div class="govuk-grid-row">
 <div class="govuk-grid-column-two-thirds">
      <h2 class="app-task-list__section">
        Support Ticket
      </h2>

      <input class="govuk-input" id="ticketURL" name="ticketURL" type="text" value="{{ data["ticketURL"] }}">

      <h2 class="app-task-list__section">
        Claim Notes
      </h2>
      <span class="govuk-hint">
        Enter a breif decsription of the problem/steps take to resolve the problem
        in the format Initals - Date - Message
      </span>
      <textarea class="govuk-textarea" id="claimNotes" name="claimNotes" rows="12" >{{ claimNotes }}</textarea>

      {{ govukButton({
        text: "Save Support Information",
        classes: "govuk-button--secondary"
      }) }}
    </div>
  </div>
{% endset -%}

{% set pastWeekHtml %}
<h2 class="govuk-heading-l">CLAIM TIMELINE</h2>
TIMELINE GOES HERE
{% endset -%}

{{ govukTabs({
  items: [
    {
      label: "Checks",
      id: "checks",
      panel: {
        html: checksHtml
      }
    },
    {
      label: "Notes",
      id: "notes",
      panel: {
        html: claimNotesHtml
      }
    },
    {
      label: "Claim History",
      id: "claimHistory",
      panel: {
        html: pastWeekHtml
      }
    }
  ]
}) }}


  </div>

{% endblock %}
