{% extends "layout.html" %}

{% block pageTitle %}
    Viewing claim ABN7HA for student loans
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    serviceName: serviceName,
    serviceUrl: "/",
    navigation: [
      {
        href: "/claims",
        text: "View claims",
        attributes: {
          "data-install": "View claims"
        }
      },
      {
        href: "/admin/claims/search",
        text: "Search",
        attributes: {
          "data-tutorials": "Search"
        }
      },
      {
        href: "/admin/payroll_runs",
        text: "Payroll",
        attributes: {
          "data-about": "Payroll"
        }
      },
      {
        href: "/admin/policy_configurations",
        text: "Open/close a service",
        attributes: {
          "data-about": "Payroll"
        }
      },
      {
        href: "/admin/auth/sign-out",
        text: "Sign out",
        attributes: {
          "data-about": "Sign out"
        }
      }
    ]
  }) }}
{% endblock %}

{% block content %}

{% set service_name = "Teachers: claim back your student loan repayments" %}
{% set reference = "ABN7HA" %}
{% set trn = "2783017" %}
{% set name = "Fred Smith" %}
{% set check_title = name + " // " + reference %}
{% set dob = "21 August 1979" %}
{% set email = "freddysmith@gmail.com" %}
{% include "includes/claim-header-block.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Qualifications
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="./student-loan/qualifications.html" aria-describedby="eligibility-completed">
                  Check qualification information
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Passed</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Employment and student loan
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="./student-loan/employment.html" aria-describedby="company-information-completed">
                  Check employment information
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed ">Passed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="./student-loan/student-loan.html" aria-describedby="company-information-completed">
                  Check student loan amount
                </a>
              </span>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Current school and subject 
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="./student-loan/current-school-subject">
                  Confirm response from school
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed " id="company-information-completed">Failed</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Claims with matching details
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="./student-loan/matching-details.html">
                  Review matching details from other claims
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed govuk-tag--inactive" id="company-information-completed">Incomplete</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">5. </span> Identity confirmation
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="./student-loan/identity-confirmation.html">
                  Confirm the claimant made the claim
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed govuk-tag--inactive" id="company-information-completed">Incomplete</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">6. </span> Decision
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="./student-loan/decision.html">
                  Approve or reject this claim
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Approved</strong>
            </li>
          </ul>
        </li>
      </ol>

    </div>
  </div>

{% endblock %}
