{% extends "layout.html" %}

{% block pageTitle %}
  Viewing matching details for claim ABN7HA for student loans
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    serviceName: serviceName,
    serviceUrl: "/",
    navigation: [
      {
        href: "/claims",
        text: "View claims",
        attributes: {
          "data-install": "View claims"
        }
      },
      {
        href: "/admin/claims/search",
        text: "Search",
        attributes: {
          "data-tutorials": "Search"
        }
      },
      {
        href: "/admin/payroll_runs",
        text: "Payroll",
        attributes: {
          "data-about": "Payroll"
        }
      },
      {
        href: "/admin/policy_configurations",
        text: "Open/close a service",
        attributes: {
          "data-about": "Payroll"
        }
      },
      {
        href: "/admin/auth/sign-out",
        text: "Sign out",
        attributes: {
          "data-about": "Sign out"
        }
      }
    ]
  }) }}
{% endblock %}

{% block content %}

{% set service_name = "Student Loans (2019/2020)" %}
{% set reference = "ABN7HA" %}
{% set check_title = "Other claims with matching details" %}
{% set trn = "2783017" %}
{% set name = "Fred Smith" %}
{% set dob = "21 August 1979" %}
{% set email = "freddysmith@gmail.com" %}
{% set ticketURL = "https://additional-teaching-payment.zendesk.com/agent/tickets/1234" %}
{% set claimNotes = "Spoke with claimant on 13/01, started working in the school sept 18

Salary between sept 18 and Apr 19 - £XX, XXX. He can't remember how he calculated repayments but thinks he probably added together payslips

{SO NAME} - HL data only available from July/18, May need another Loan to high call to find out if remaining FY18/19 income (April18-June/18) is teaching

related or not (i.e supply teacher)

3 March 2020 - loan too high email sent, reply due 10 March

4 March - reply received with repayments totalling £331. Have asked claimant to confirm his claim amount. Awaiting reply.

6 March - reply received from claimant confirming £331 is correct amount. Claimant will need to re-apply.

10 March  agreed that a developer could ammend the claim. Ammended and approved. KB" %}

{% include "includes/claim-header-block.html" %}

{% set checksHtml %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <table id="claims-with-matches" class="govuk-table govuk-!-margin-bottom-9">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Claim</th>
            <th scope="col" class="govuk-table__header">Matching details</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a class="govuk-link" href="/admin/claims/eb063e7e-4902-4fc7-9691-a97f05888694">6Y9U2V9D</a>
              </th><td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>Building society roll number</li>
                  <li>National insurance number</li>
                </ul>
              </td>
            </tr>
        </tbody>
    </table>
    <form class="new_check" id="claim_check_form" action="./identity-confirmation" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="GitCei0zjGIa3F0VUatPhywrNAvAvIw75CgIevd9XH98k8acSkdQ5Y20YO5P0sbtH7aM/Q/HmIFSqEHyzrMmTQ==">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset govuk-!-margin-bottom-6">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-6">
                <h3 class="govuk-heading-l govuk-!-margin-0">
                  Is this claim still valid despite having matching details with other claims?
                </h3>
              </legend>


              <div class="govuk-radios govuk-radios--inline">
                <input type="hidden" name="check[result]" id="check_result">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" type="radio" value="approved" name="check[result]" id="check_result_approved">
                  <label class="govuk-label govuk-radios__label" for="check_result_approved">Yes</label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" type="radio" value="rejected" name="check[result]" id="check_result_rejected">
                  <label class="govuk-label govuk-radios__label" for="check_result_rejected">No</label>
                </div>
              </div>
            </fieldset>
            <input type="submit" name="commit" value="Save and continue" class="govuk-button" data-disable-with="Save and continue">
        </div>
      </form>
    </div>
  </div>
{% endset -%}

{% set claimNotesHtml %}
<div class="govuk-grid-row">
 <div class="govuk-grid-column-two-thirds">
      <h2 class="app-task-list__section">
        Support Ticket
      </h2>

      <input class="govuk-input" id="ticketURL" name="ticketURL" type="text" value="{{ data["ticketURL"] }}">

      <h2 class="app-task-list__section">
        Claim Notes
      </h2>
      <span class="govuk-hint">
        Enter a breif decsription of the problem/steps take to resolve the problem
        in the format Initals - Date - Message
      </span>
      <textarea class="govuk-textarea" id="claimNotes" name="claimNotes" rows="12" >{{ claimNotes }}</textarea>

      {{ govukButton({
        text: "Save Support Information",
        classes: "govuk-button--secondary"
      }) }}
    </div>
  </div>
{% endset -%}

{% set claimAmendmentsHtml %}
<div class="govuk-grid-row">
 <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Claim Amendments</h2>
    <div class="hmcts-timeline">
        <div class="hmcts-timeline__item">
          <section>
              <h3 class="hmcts-timeline__title">Student loan repayment plan</h3>
                <p class="hmcts-timeline__by">changed from Plan 2 to Plan 1</p>
              <br>

              <h3 class="hmcts-timeline__title">Change notes</h3>
              <p class="hmcts-timeline__by">Changing plan type to show the time line</p>
          </section>

          <p class="hmcts-timeline__description"> by Rich Cooley on 24 March 2020 11:47am</p>
        </div>
        <div class="hmcts-timeline__item">
          <section>
              <h3 class="hmcts-timeline__title">Student loan repayment plan</h3>
                <p class="hmcts-timeline__by">changed from not applicable to Plan 2</p>
              <br>

              <h3 class="hmcts-timeline__title">Change notes</h3>
              <p class="hmcts-timeline__by">Got it from TPS</p>
          </section>

          <p class="hmcts-timeline__description"> by Tekin Suleyman on 11 March 2020 1:05pm</p>
        </div>
    </div>
  </div>
</div>
{% endset -%}

{{ govukTabs({
  items: [
    {
      label: "Checks",
      id: "checks",
      panel: {
        html: checksHtml
      }
    },
    {
      label: "Notes",
      id: "notes",
      panel: {
        html: claimNotesHtml
      }
    },
    {
      label: "Claim Amendments",
      id: "claimAmendments",
      panel: {
        html: claimAmendmentsHtml
      }
    }
  ]
}) }}


</div>

{% endblock %}
