{% extends "layout.html" %}

{% block pageTitle %}
  Viewing student loan for claim ABN7HA for student loans
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    serviceName: serviceName,
    serviceUrl: "/",
    navigation: [
      {
        href: "/claims",
        text: "View claims",
        attributes: {
          "data-install": "View claims"
        }
      },
      {
        href: "/admin/claims/search",
        text: "Search",
        attributes: {
          "data-tutorials": "Search"
        }
      },
      {
        href: "/admin/payroll_runs",
        text: "Payroll",
        attributes: {
          "data-about": "Payroll"
        }
      },
      {
        href: "/admin/policy_configurations",
        text: "Open/close a service",
        attributes: {
          "data-about": "Payroll"
        }
      },
      {
        href: "/admin/auth/sign-out",
        text: "Sign out",
        attributes: {
          "data-about": "Sign out"
        }
      }
    ]
  }) }}
{% endblock %}

{% block content %}

{% set service_name = "Teachers: claim back your student loan repayments" %}
{% set reference = "ABN7HA" %}
{% set check_title = "Student loan amount" %}
{% set trn = "2783017" %}
{% set name = "Fred Smith" %}
{% set dob = "21 August 1979" %}
{% set email = "freddysmith@gmail.com" %}
{% include "includes/claim-header-block.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Student loan repayment amount
          </dt>

          <dd class="govuk-summary-list__value">
            £456
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Student loan plan
          </dt>

          <dd class="govuk-summary-list__value">
            Plan 1
          </dd>
        </div>
    </dl>

    {% if data['student-loan-task-zendesk-url'] %}
      <div class="flash-card govuk-!-margin-bottom-9">
        <header>
          <h3 class="govuk-heading-m">This claim has a support ticket assigned</h3>
        </header>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <p>This claim has a support ticket assigned to it for the student loan. Check it's current state before completing this task.</p>
            <p><a href="{{ data['student-loan-task-zendesk-url']}}">View the support ticket</a></p>
          </div>
        </div>
      </div>
    {% endif %}

    <form class="new_check" id="claim_check_form" action="/claim/student-loan/student-loan" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="GitCei0zjGIa3F0VUatPhywrNAvAvIw75CgIevd9XH98k8acSkdQ5Y20YO5P0sbtH7aM/Q/HmIFSqEHyzrMmTQ==">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset govuk-!-margin-bottom-6">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-6">
                  <h3 class="govuk-heading-l govuk-!-margin-0">
                    Does the claimant’s student loan amount and plan type match the information we hold about their loan?
                  </h3>
                </legend>
                
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="how-contacted-conditional" name="student-loan-task" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="yes">
                      Yes
                    </label>
                  </div>

                  <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="how-contacted-conditional" name="student-loan-task" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="yes">
                      No
                    </label>
                  </div>
                  <div class="govuk-radios__divider">or</div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="how-contacted-conditional-2" name="student-loan-task" type="radio" value="student-loan-task-raise-ticket" data-aria-controls="conditional-how-contacted-conditional-2">
                    <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                      Start a support ticket
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-2">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="contact-by-phone">
                        Link to support ticket
                      </label>
                      <span id="account-number-hint" class="govuk-hint">
                        You can <a href="https://additional-teaching-payment.zendesk.com/agent/tickets/new/1" target="_blank">raise a support ticket</a> (opens in a new window) if this question requires further evidence. Copy the URL of that page and paste it here once the ticket has been 'submitted as new'.
                      </span>
                      <input class="govuk-input govuk-input--width-20" id="contact-by-phone" name="student-loan-task-zendesk-url" type="url" placeholder="https://" value="{{ data['student-loan-task-zendesk-url']}}">
                    </div>

                  </div>

                  </div>
                </div>
              </fieldset>
              <input type="submit" name="commit" value="Save and continue" class="govuk-button" data-disable-with="Save and continue">
          </div>
        </form> 

    </div>
  </div>

{% endblock %}
