{% extends "layout.html" %}

{% block pageTitle %}
  Viewing decision for claim ABN7HA for student loans
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    serviceName: serviceName,
    serviceUrl: "/",
    navigation: [
      {
        href: "/claims",
        text: "View claims",
        attributes: {
          "data-install": "View claims"
        }
      },
      {
        href: "/admin/claims/search",
        text: "Search",
        attributes: {
          "data-tutorials": "Search"
        }
      },
      {
        href: "/admin/payroll_runs",
        text: "Payroll",
        attributes: {
          "data-about": "Payroll"
        }
      },
      {
        href: "/admin/policy_configurations",
        text: "Open/close a service",
        attributes: {
          "data-about": "Payroll"
        }
      },
      {
        href: "/admin/auth/sign-out",
        text: "Sign out",
        attributes: {
          "data-about": "Sign out"
        }
      }
    ]
  }) }}
{% endblock %}

{% block content %}

{% set service_name = "Teachers: claim back your student loan repayments" %}
{% set reference = "ABN7HA" %}
{% set trn = "2783017" %}
{% set name = "Fred Smith" %}
{% set dob = "21/08/1979" %}
{% set email = "freddysmith@gmail.com" %}{% include "includes/claim-header-block.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="new_check" id="claim_check_form" action="/claims" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="GitCei0zjGIa3F0VUatPhywrNAvAvIw75CgIevd9XH98k8acSkdQ5Y20YO5P0sbtH7aM/Q/HmIFSqEHyzrMmTQ==">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset govuk-!-margin-bottom-6">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-6">
                  <h2 class="govuk-fieldset__heading">
                    Claim decision
                  </h2>
                </legend>


                
                <div class="govuk-radios govuk-radios--inline">
                  <input type="hidden" name="check[result]" id="check_result">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" type="radio" value="approved" name="check[result]" id="check_result_approved">
                    <label class="govuk-label govuk-radios__label" for="check_result_approved">Approve</label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" type="radio" value="rejected" name="check[result]" id="check_result_rejected">
                    <label class="govuk-label govuk-radios__label" for="check_result_rejected">Reject</label>
                  </div>
                </div>
              </fieldset>
              <label class="govuk-label govuk-label--m" for="check_notes">Decision notes</label>
              <span class="govuk-hint" id="notes-hint">
                Please write a brief note explaining why this claim has been rejected or approved.
              </span>
              <textarea class="govuk-textarea" aria-describedby="notes-hint" rows="5" name="check[notes]" id="check_notes"></textarea>
              <input type="submit" name="commit" value="Confirm decision" class="govuk-button" data-disable-with="Confirm decicion">
        </div>
      </form> 

    </div>
  </div>

{% endblock %}
