{% extends "layout.html" %}

{% block pageTitle %}
  Viewing employment for claim ABN7HA for student loans
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    serviceName: serviceName,
    serviceUrl: "/",
    navigation: [
      {
        href: "/claims",
        text: "View claims",
        attributes: {
          "data-install": "View claims"
        }
      },
      {
        href: "/admin/claims/search",
        text: "Search",
        attributes: {
          "data-tutorials": "Search"
        }
      },
      {
        href: "/admin/payroll_runs",
        text: "Payroll",
        attributes: {
          "data-about": "Payroll"
        }
      },
      {
        href: "/admin/policy_configurations",
        text: "Open/close a service",
        attributes: {
          "data-about": "Payroll"
        }
      },
      {
        href: "/admin/auth/sign-out",
        text: "Sign out",
        attributes: {
          "data-about": "Sign out"
        }
      }
    ]
  }) }}
{% endblock %}

{% block content %}

{% set service_name = "Teachers: claim back your student loan repayments" %}
{% set reference = "ABN7HA" %}
{% set trn = "2783017" %}
{% set name = "Fred Smith" %}
{% set dob = "21/08/1979" %}
{% set email = "freddysmith@gmail.com" %}{% include "includes/claim-header-block.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">
      Employment
    </h2>
    <p class="govuk-body-l">Check the claimant's previous and current schools match the below information from their claim.</p>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            6 April 2018 to 5 April 2019
          </dt>

          <dd class="govuk-summary-list__value">
            <a class="govuk-link" href="https://get-information-schools.service.gov.uk/Establishments/Establishment/Details/106653">Penistone Grammar School</a> <span class="govuk-body-s">(370/4027)</span>
          </dd>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Current school
          </dt>

          <dd class="govuk-summary-list__value">
            <a class="govuk-link" href="https://get-information-schools.service.gov.uk/Establishments/Establishment/Details/106653">Penistone Grammar School</a> <span class="govuk-body-s">(370/4027)</span>
          </dd>
        </div>
    </dl>

    <a href="./student-loan" class="govuk-button">Complete employment check and continue</a>

    </div>
  </div>

{% endblock %}
