{% extends "layout.html" %}

{% block pageTitle %}
  Task list
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    serviceName: serviceName,
    serviceUrl: "/",
    navigation: [
      {
        href: "/claims",
        text: "View claims",
        attributes: {
          "data-install": "View claims"
        }
      },
      {
        href: "/admin/claims/search",
        text: "Search",
        attributes: {
          "data-tutorials": "Search"
        }
      },
      {
        href: "/admin/payroll_runs",
        text: "Payroll",
        attributes: {
          "data-about": "Payroll"
        }
      },
      {
        href: "/admin/policy_configurations",
        text: "Open/close a service",
        attributes: {
          "data-about": "Payroll"
        }
      },
      {
        href: "/admin/auth/sign-out",
        text: "Sign out",
        attributes: {
          "data-about": "Sign out"
        }
      }
    ]
  }) }}
{% endblock %}

{% block content %}

{% set service_name = "Teachers: claim back your student loan repayments" %}
{% set reference = "ABN7HA" %}
{% set trn = "2783017" %}
{% set name = "Fred Smith" %}
{% set dob = "21/08/1979" %}
{% set email = "freddysmith@gmail.com" %}{% include "includes/claim-header-block.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h2 class="govuk-heading-l">Review matching details from other claims</h2>
        <table id="claims-with-matches" class="govuk-table govuk-!-margin-bottom-9 ">
            <caption class="govuk-table__caption govuk-body-l">Check why some details in the claim match those in another claim.</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"></th>
                <th scope="col" class="govuk-table__header">Matched claim<br/><a href="#">6Y9U2V9D</a></th>
                <th scope="col" class="govuk-table__header"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Teacher Reference Number
                  </th>
                  <td class="govuk-table__cell">
                    6728374
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">National Insurance Number
                  </th>
                  <td class="govuk-table__cell">
                    QQ123456C
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Full name
                  </th>
                  <td class="govuk-table__cell">
                    Fred Smith
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">
                    Policy
                  </th>
                  <td class="govuk-table__cell">
                    Teachers: claim back your student loan repayments
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">
                  </th>
                  <td class="govuk-table__cell">
                    <a href="#">View full claim</a>
                  </td>
                </tr>
            </tbody>
          </table>

          <a href="../claim-maths-physics" class="govuk-button">Complete matching details check and view next claim</a>

    </div>
  </div>

{% endblock %}
