{% extends "layout.html" %}

{% block pageTitle %}
  Viewing student loan for claim ABN7HA for student loans
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    serviceName: serviceName,
    serviceUrl: "/",
    navigation: [
      {
        href: "/claims",
        text: "View claims",
        attributes: {
          "data-install": "View claims"
        }
      },
      {
        href: "/admin/claims/search",
        text: "Search",
        attributes: {
          "data-tutorials": "Search"
        }
      },
      {
        href: "/admin/payroll_runs",
        text: "Payroll",
        attributes: {
          "data-about": "Payroll"
        }
      },
      {
        href: "/admin/policy_configurations",
        text: "Open/close a service",
        attributes: {
          "data-about": "Payroll"
        }
      },
      {
        href: "/admin/auth/sign-out",
        text: "Sign out",
        attributes: {
          "data-about": "Sign out"
        }
      }
    ]
  }) }}
{% endblock %}

{% block content %}

{% set service_name = "Teachers: claim back your student loan repayments" %}
{% set reference = "ABN7HA" %}
{% set trn = "2783017" %}
{% set name = "Fred Smith" %}
{% set dob = "21/08/1979" %}
{% set email = "freddysmith@gmail.com" %}{% include "includes/claim-header-block.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">
      Student loan
    </h2>
    <p class="govuk-body-l">Check the claimant's student loan amount is within the set threshold and the plan type is correct.</p>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Student loan
          </dt>

          <dd class="govuk-summary-list__value">
            £456
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Student loan plan
          </dt>

          <dd class="govuk-summary-list__value">
            Plan 1
          </dd>
        </div>
    </dl>

    <a href="./current-school-subject" class="govuk-button">Complete student loan check and continue</a>

    </div>
  </div>

{% endblock %}
