
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    serviceName: serviceName,
    serviceUrl: "/",
    navigation: [
      {
        href: "/admin/claims",
        text: "Claims",
        attributes: {
          "data-install": "Claims"
        }
      },
      {
        href: "/admin/claims/search",
        text: "Search",
        attributes: {
          "data-tutorials": "Search"
        }
      },
      {
        href: "/admin/payroll_runs",
        text: "Payroll",
        attributes: {
          "data-about": "Payroll"
        }
      },
      {
        href: "/admin/policy_configurations",
        text: "Open/close a service",
        attributes: {
          "data-about": "Payroll"
        }
      },
      {
        href: "/admin/auth/sign-out",
        text: "Sign out",
        attributes: {
          "data-about": "Sign out"
        }
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <a class="govuk-back-link" href="/admin">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Claims
      </h1>
      
      <form action="/admin/claims" accept-charset="UTF-8" method="get">
	      <div class="govuk-form-group">
	        <label class="govuk-label" for="policy">
	          Filter by service:
	        </label>
	        <select class="govuk-select" name="policy" id="policy"><option value="">All</option>
			<option value="student-loans">Student Loans</option>
			<option value="maths-and-physics">Maths and Physics</option></select>
	        <input type="submit" name="commit" value="Go" class="govuk-button govuk-button--secondary" data-disable-with="Go">
	      </div>
	</form>

	<h2 class="govuk-heading-m">195 claims awaiting checking</h2>

	<a class="govuk-button" data-module="govuk-button" role="button" href="/admin/claims.csv">Download report request file</a>

    </div>
</div>

<table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Reference</th>
            <th scope="col" class="govuk-table__header">Applicant Name</th>
            <th scope="col" class="govuk-table__header">ID Verification</th>
            <th scope="col" class="govuk-table__header">Service</th>
              <th scope="col" class="govuk-table__header">Check warning</th>
            <th scope="col" class="govuk-table__header">Check deadline</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">YWP9BRGY</th>
              <td class="govuk-table__cell">Fred Smith</td>
              <td class="govuk-table__cell">GOV.UK Verify</td>
              <td class="govuk-table__cell">Student Loans</td>
                <td class="govuk-table__cell"><strong class="govuk-tag tag--alert">-15 days</strong></td>
              <td class="govuk-table__cell">15 January 2020</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/admin/claims/b15b39f1-163b-41b6-b767-95144f961c25">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">WXHERP56</th>
              <td class="govuk-table__cell">Fred Smith</td>
              <td class="govuk-table__cell">GOV.UK Verify</td>
              <td class="govuk-table__cell">Student Loans</td>
                <td class="govuk-table__cell"><strong class="govuk-tag tag--alert">-15 days</strong></td>
              <td class="govuk-table__cell">15 January 2020</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/admin/claims/c11792a8-475b-4ed4-a603-c6f5d5435ed3">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">KTCP1GIE</th>
              <td class="govuk-table__cell">Fred Smith</td>
              <td class="govuk-table__cell">GOV.UK Verify</td>
              <td class="govuk-table__cell">Student Loans</td>
                <td class="govuk-table__cell"><strong class="govuk-tag tag--alert">-15 days</strong></td>
              <td class="govuk-table__cell">15 January 2020</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/admin/claims/c9333b09-28bd-4aed-87ed-32c0c5bd7aa2">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">9XH7SYFN</th>
              <td class="govuk-table__cell">Fred Smith</td>
              <td class="govuk-table__cell">GOV.UK Verify</td>
              <td class="govuk-table__cell">Student Loans</td>
                <td class="govuk-table__cell"><strong class="govuk-tag tag--alert">-15 days</strong></td>
              <td class="govuk-table__cell">15 January 2020</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/admin/claims/025e3b00-6d3d-457b-a235-0a74e68b192c">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">2ZSQ2YUP</th>
              <td class="govuk-table__cell">Fred Smith</td>
              <td class="govuk-table__cell">GOV.UK Verify</td>
              <td class="govuk-table__cell">Student Loans</td>
                <td class="govuk-table__cell"><strong class="govuk-tag tag--alert">-15 days</strong></td>
              <td class="govuk-table__cell">15 January 2020</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/admin/claims/a61444b5-ef7a-4cc2-bf3e-7109312cd10c">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">FHPJ2SJF</th>
              <td class="govuk-table__cell">Fred Smith</td>
              <td class="govuk-table__cell">GOV.UK Verify</td>
              <td class="govuk-table__cell">Student Loans</td>
                <td class="govuk-table__cell"><strong class="govuk-tag tag--alert">-15 days</strong></td>
              <td class="govuk-table__cell">15 January 2020</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/admin/claims/aee5e778-c3ea-4e7a-a688-8ab06f53ab3f">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">A51PMRAU</th>
              <td class="govuk-table__cell">Fred Smith</td>
              <td class="govuk-table__cell">GOV.UK Verify</td>
              <td class="govuk-table__cell">Student Loans</td>
                <td class="govuk-table__cell"><strong class="govuk-tag tag--alert">-15 days</strong></td>
              <td class="govuk-table__cell">15 January 2020</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/admin/claims/91e24b63-43dc-4221-911b-3132f6fe99aa">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">B1ZU39BE</th>
              <td class="govuk-table__cell">Fred Smith</td>
              <td class="govuk-table__cell">GOV.UK Verify</td>
              <td class="govuk-table__cell">Student Loans</td>
                <td class="govuk-table__cell"><strong class="govuk-tag tag--alert">-15 days</strong></td>
              <td class="govuk-table__cell">15 January 2020</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/admin/claims/6cd1ba2e-7fda-4b58-8a35-8fa4092c21fd">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">DH1ITB6T</th>
              <td class="govuk-table__cell">Fred Smith</td>
              <td class="govuk-table__cell">GOV.UK Verify</td>
              <td class="govuk-table__cell">Student Loans</td>
                <td class="govuk-table__cell"><strong class="govuk-tag tag--alert">-14 days</strong></td>
              <td class="govuk-table__cell">16 January 2020</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/admin/claims/e3fd2061-b2c6-4397-a696-d13a74fe55ca">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">558G4G9B</th>
              <td class="govuk-table__cell">Fred Smith</td>
              <td class="govuk-table__cell">GOV.UK Verify</td>
              <td class="govuk-table__cell">Student Loans</td>
                <td class="govuk-table__cell"><strong class="govuk-tag tag--alert">-14 days</strong></td>
              <td class="govuk-table__cell">16 January 2020</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/admin/claims/38d51582-7cc9-45ae-a821-23baa805d77c">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">MTWN9I95</th>
              <td class="govuk-table__cell">Fred Smith</td>
              <td class="govuk-table__cell">GOV.UK Verify</td>
              <td class="govuk-table__cell">Student Loans</td>
                <td class="govuk-table__cell"><strong class="govuk-tag tag--alert">-14 days</strong></td>
              <td class="govuk-table__cell">16 January 2020</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/admin/claims/52013bd1-2622-4a36-bbe2-113a5306ffdf">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">3SY9BMUQ</th>
              <td class="govuk-table__cell">Fred Smith</td>
              <td class="govuk-table__cell">GOV.UK Verify</td>
              <td class="govuk-table__cell">Student Loans</td>
                <td class="govuk-table__cell"><strong class="govuk-tag tag--alert">-14 days</strong></td>
              <td class="govuk-table__cell">16 January 2020</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/admin/claims/193e2e5a-9f01-4e38-be55-e3a4fd8c3d19">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">7EX24ZCP</th>
              <td class="govuk-table__cell">Fred Smith</td>
              <td class="govuk-table__cell">GOV.UK Verify</td>
              <td class="govuk-table__cell">Student Loans</td>
                <td class="govuk-table__cell"><strong class="govuk-tag tag--alert">-14 days</strong></td>
              <td class="govuk-table__cell">16 January 2020</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/admin/claims/7b84e5ff-ad14-449a-9fb3-899462a7c8db">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">W4LUECK8</th>
              <td class="govuk-table__cell">Fred Smith</td>
              <td class="govuk-table__cell">GOV.UK Verify</td>
              <td class="govuk-table__cell">Student Loans</td>
                <td class="govuk-table__cell"><strong class="govuk-tag tag--alert">-14 days</strong></td>
              <td class="govuk-table__cell">16 January 2020</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/admin/claims/234ed843-5a47-4c72-8de7-2f41eca4ce2b">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">X4G5FNUG</th>
              <td class="govuk-table__cell">Fred Smith</td>
              <td class="govuk-table__cell">GOV.UK Verify</td>
              <td class="govuk-table__cell">Student Loans</td>
                <td class="govuk-table__cell"><strong class="govuk-tag tag--alert">-14 days</strong></td>
              <td class="govuk-table__cell">16 January 2020</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/admin/claims/0c7e37a3-82c7-4a0e-98bf-3023cd569b7e">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">U4LDTWEW</th>
              <td class="govuk-table__cell">Fred Smith</td>
              <td class="govuk-table__cell">GOV.UK Verify</td>
              <td class="govuk-table__cell">Student Loans</td>
                <td class="govuk-table__cell"><strong class="govuk-tag tag--alert">-14 days</strong></td>
              <td class="govuk-table__cell">16 January 2020</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/admin/claims/ed493232-60ce-4ccd-a4d0-7fe5549862aa">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">4BGPPN2H</th>
              <td class="govuk-table__cell">Fred Smith</td>
              <td class="govuk-table__cell">GOV.UK Verify</td>
              <td class="govuk-table__cell">Student Loans</td>
                <td class="govuk-table__cell"><strong class="govuk-tag tag--alert">-14 days</strong></td>
              <td class="govuk-table__cell">16 January 2020</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/admin/claims/8a43befc-c1a1-4a8a-a522-830ba7c9b29a">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">8VBKNSGW</th>
              <td class="govuk-table__cell">Fred Smith</td>
              <td class="govuk-table__cell">GOV.UK Verify</td>
              <td class="govuk-table__cell">Student Loans</td>
                <td class="govuk-table__cell"><strong class="govuk-tag tag--alert">-14 days</strong></td>
              <td class="govuk-table__cell">16 January 2020</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/admin/claims/a72f18c7-db50-4adf-92d2-a5fdfcff010c">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">73QZ9ECT</th>
              <td class="govuk-table__cell">Fred Smith</td>
              <td class="govuk-table__cell">GOV.UK Verify</td>
              <td class="govuk-table__cell">Student Loans</td>
                <td class="govuk-table__cell"><strong class="govuk-tag tag--alert">-14 days</strong></td>
              <td class="govuk-table__cell">16 January 2020</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/admin/claims/bd1d061f-494d-4a33-9c99-6e65b869fef3">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">7TNZWAVD</th>
              <td class="govuk-table__cell">Fred Smith</td>
              <td class="govuk-table__cell">GOV.UK Verify</td>
              <td class="govuk-table__cell">Student Loans</td>
                <td class="govuk-table__cell"><strong class="govuk-tag tag--alert">-14 days</strong></td>
              <td class="govuk-table__cell">16 January 2020</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/admin/claims/d546bfab-fe67-4244-b8ed-922d06e36b10">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">L2RSK4R3</th>
              <td class="govuk-table__cell">Fred Smith</td>
              <td class="govuk-table__cell">GOV.UK Verify</td>
              <td class="govuk-table__cell">Student Loans</td>
                <td class="govuk-table__cell"><strong class="govuk-tag tag--alert">-14 days</strong></td>
              <td class="govuk-table__cell">16 January 2020</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/admin/claims/c3c7390e-6e49-499b-b2a1-7dc69769bbdd">View claim</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">T5NZEZTQ</th>
              <td class="govuk-table__cell">Mark David Goddard</td>
              <td class="govuk-table__cell"><strong class="govuk-tag tag--warning">Unverified</strong></td>
              <td class="govuk-table__cell">Maths and Physics</td>
                <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">16 April 2020</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/admin/claims/8fe6380b-9125-420d-98cb-a3ec0bb6cf5e">View claim</a></td>
            </tr>
        </tbody>
      </table>

{% endblock %}
