{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Claim checking #2 prototype</h1>

      <p class="govuk-body-l">
        This prototype is an example of how claim checking in the admin interface can be made quicker and easier.
      </p>
{{releaseVersion | log }}
    </div>


  </div>

  <hr class="govuk-section-break govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third govuk-!-margin-top-6">

      <h2 class="govuk-heading-m"><a href="/claims" data-hinstall="View claim">All claims</a></h2>
      <p>
        A list of all the claims
      </p>

    </div>

  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l  govuk-!-margin-top-6">Teachers: claim back your student loan repayments</h2>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-margin-top-6">

      <h2 class="govuk-heading-m"><a href="/claim/student-loan" data-hinstall="View claim">View claim</a></h2>
      <p>
        What a user sees when you click "View claim"
      </p>

    </div>
    <div class="govuk-grid-column-one-third govuk-!-margin-top-6">

      <h2 class="govuk-heading-m"><a href="/claim/student-loan/qualifications" data-habout="Qualifications">Qualifications</a></h2>
      <p>
        How to check qualifications
      </p>

    </div>
    <div class="govuk-grid-column-one-third govuk-!-margin-top-6">

      <h2 class="govuk-heading-m"><a href="/claim/student-loan/employment" data-habout="Employment">Employment</a></h2>
      <p>
        How to check employment
      </p>

    </div>
    <div class="govuk-grid-column-one-third govuk-!-margin-top-6">

      <h2 class="govuk-heading-m"><a href="/claim/student-loan/current-school-subject" data-habout="Current school and subject check">Current school and subject</a></h2>
      <p>
        How to check current school and qualifications
      </p>

    </div>
    <div class="govuk-grid-column-one-third govuk-!-margin-top-6">

      <h2 class="govuk-heading-m"><a href="/claim/student-loan/matching-details" data-habout="Matching details">Matching details</a></h2>
      <p>
        How to check matching details
      </p>

    </div>
    <div class="govuk-grid-column-one-third govuk-!-margin-top-6">

      <h2 class="govuk-heading-m"><a href="/claim/student-loan/qualifications-passed" data-habout="Check has passed">A task was completed and passed</a></h2>
      <p>
        A design for what a completed task looks like on the qualifications screen.
      </p>

    </div>

    <div class="govuk-grid-column-one-third govuk-!-margin-top-6">

      <h2 class="govuk-heading-m"><a href="/claim/student-loan/gender" data-habout="Setting gender">Gender</a></h2>
      <p>
        When a user has not set a gender when completing a claim.
      </p>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l  govuk-!-margin-top-6">Claim a payment for teaching maths or physics</h2>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-margin-top-6">

      <h2 class="govuk-heading-m"><a href="/claim/maths-physics" data-hinstall="View claim">View claim</a></h2>
      <p>
        What a user sees when you click "View claim"
      </p>

    </div>
    <div class="govuk-grid-column-one-third govuk-!-margin-top-6">

      <h2 class="govuk-heading-m"><a href="/claim/maths-physics/qualifications" data-habout="Qualifications">Qualifications</a></h2>
      <p>
        How to check qualifications
      </p>

    </div>
  </div>
{% endblock %}
