{% extends "layout.html" %}

{% block pageTitle %}
  Task list
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    serviceName: serviceName,
    serviceUrl: "/",
    navigation: [
      {
        href: "/admin/claims",
        text: "Claims",
        attributes: {
          "data-install": "Claims"
        }
      },
      {
        href: "/admin/claims/search",
        text: "Search",
        attributes: {
          "data-tutorials": "Search"
        }
      },
      {
        href: "/admin/payroll_runs",
        text: "Payroll",
        attributes: {
          "data-about": "Payroll"
        }
      },
      {
        href: "/admin/policy_configurations",
        text: "Open/close a service",
        attributes: {
          "data-about": "Payroll"
        }
      },
      {
        href: "/admin/auth/sign-out",
        text: "Sign out",
        attributes: {
          "data-about": "Sign out"
        }
      }
    ]
  }) }}
{% endblock %}

{% block content %}

{% set service_name = "Claim a payment for teaching maths or physics" %}
{% include "includes/claim-header-block.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Qualifications
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="claim/qualifications.html" aria-describedby="eligibility-completed">
                  Check qualification eligibility
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Employment
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="claim/employment.html" aria-describedby="company-information-completed">
                  Check employment eligibility
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Completed</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Current school and subject
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="claim/current-school-subject.html">
                  Check current school and subject eligibility
                </a>
              </span>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Claims with matching details
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="claim/matching-details.html">
                  Review matching details from other claims
                </a>
              </span>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">5. </span> Identity verification
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#">
                  Confirm that the claimant has been identified
                </a>
              </span>
            </li>
          </ul>
        </li>
      </ol>

      <form class="new_check" id="claim_check_form" action="/admin/claims/b15b39f1-163b-41b6-b767-95144f961c25/checks" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="GitCei0zjGIa3F0VUatPhywrNAvAvIw75CgIevd9XH98k8acSkdQ5Y20YO5P0sbtH7aM/Q/HmIFSqEHyzrMmTQ==">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset govuk-!-margin-bottom-6">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-6">
                  <h2 class="govuk-fieldset__heading">
                    Claim decision
                  </h2>
                </legend>


                
                <div class="govuk-radios govuk-radios--inline">
                  <input type="hidden" name="check[result]" id="check_result">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" type="radio" value="approved" name="check[result]" id="check_result_approved">
                    <label class="govuk-label govuk-radios__label" for="check_result_approved">Approve</label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" type="radio" value="rejected" name="check[result]" id="check_result_rejected">
                    <label class="govuk-label govuk-radios__label" for="check_result_rejected">Reject</label>
                  </div>
                </div>
              </fieldset>
              <label class="govuk-label govuk-label--m" for="check_notes">Decision notes</label>
              <span class="govuk-hint" id="notes-hint">
                Please write a brief note explaining why this claim has been rejected or approved.
              </span>
              <textarea class="govuk-textarea" aria-describedby="notes-hint" rows="5" name="check[notes]" id="check_notes"></textarea>
              <input type="submit" name="commit" value="Confirm decicion" class="govuk-button" data-disable-with="Confirm decicion">
        </div>
      </form> 

    </div>
  </div>

{% endblock %}
